body,html{
    height: 100vh;
    text-align: center;
}
body{
    margin: 0;
    display: grid;
    grid-template-columns: auto 27% 27% 27%;
    grid-template-rows: 8% 30% auto 10%;
    grid-template-areas:
        "sidebar header header header"
        "sidebar sect1 sect2 sect3"
        "sidebar main main main" 
        "sidebar footer footer footer"
}

aside{
    grid-area: sidebar;
    background-color: #5d5dfd;
}

header{
    grid-area: header;
    background-color: #b1b1ff;
}
section:nth-of-type(1){
    grid-area: sect1;
    background-color: #d4d4fc;
}
section:nth-of-type(2){
    grid-area: sect2;
    background-color: #7272b3;
}
section:nth-of-type(3){
    grid-area: sect3;
    background-color: #9090db;
}
main{
    grid-area: main;
    background-color: #c2c2f0;
    margin: 0em;


    transform: rotate(0);
    
    transition: background-color 1s, margin 1s, transform 1s;
}
footer{
    grid-area: footer;
    background-color: #8383e0;
}

main:hover{
    background-color: #000000;
    margin: 2em;
    transform: rotate(-10deg);
}
